NAME=CFMNTIOE Comminity
AVATAR=https://images-ext-2.discordapp.net/external/Htij-pzagM_JCFtIsuDggW23TJgt_aO_3tslLQtg_Go/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/1094221491031244851/f8b2802207db72a88e485368f5fe5480.png?width=640&height=640
TYPE=bot
MAIN=index.js
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools